@font-face {
	font-family: "Gilroy Bold";
	src: url("./assets/fonts/Gilroy-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy Black";
	src: url("./assets/fonts/Gilroy-Black.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy Medium";
	src: url("./assets/fonts/Gilroy-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	// user-select: none;
}

body {
	font-size: 1.6rem;
	font-family: "Gilroy Medium", sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
	color: var(--dark-text);
}

::selection {
	background-color: var(--primary-color);
	color: var(--border-color);
}

section {
	min-height: 100vh;
	background-color: var(--primary-color);
	color: var(--dark-text);
	padding: 8rem 0;
	@media (max-width: 1024px) {
		padding: 6rem 0;
	}
	overflow: hidden;
}

h1 {
	font-size: 4rem;
	width: 100%;
	text-align: center;
	margin-bottom: 4rem;
	letter-spacing: 0.02em;
	@media (max-width: 890px) {
		font-size: 3rem !important;
		margin-bottom: 3rem;
	}
}

h1, h2, h3, h4 {
	font-family: "Gilroy Bold", "Gilroy Medium", sans-serif;
	line-height: 1.2;
}

.container__standart {
	max-width: 134rem;
	margin: 0 auto;
	padding: 0 3rem;
	width: 100%;
	@media (max-width: 600px) {
		padding: 0 1.5rem;
	}
}

.relative {
	position: relative;
}

.fade-in {
	opacity: 0;
	transform: translateY(100px);
	transition:
		opacity 0.9s var(--ease-out),
		transform 0.9s var(--ease-out);
}

.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
}

.fade-left {
	opacity: 0;
	transform: translateX(-100px);
	transition:
		opacity 0.9s var(--ease-out),
		transform 0.9s var(--ease-out);
}

.fade-left.visible {
	opacity: 1;
	transform: translateX(0);
}

.fade-right {
	opacity: 0;
	transform: translateX(100px);
	transition:
		opacity 0.9s var(--ease-out),
		transform 0.9s var(--ease-out);
}

.fade-right.visible {
	opacity: 1;
	transform: translateX(0);
}

.fade-down {
	opacity: 0;
	// transform: translateY(-100px);
	transition:
		opacity 0.9s var(--ease-out),
		transform 0.9s var(--ease-out);
}

.fade-down.visible {
	opacity: 1;
	transform: translateY(0);
}
