:root {
	--primary-color: #224878;
	--accent-color: #f3f5ee;
	--border-color: #0c0c25;
	--card-bg: #d0e3e8;
	--bajevi:#B0B0B0;
	--dark-text: #1e241a;
	--dark-blue: #182e4f;
	--transition-speed: 0.3s;
}
